.bg-info
,.btn-info {
  background-color: #455fd3 !important;
  border-color: #455fd3 !important;
}

.bg-info2
,.btn-info2 {
  background-color: #405BA5 !important;
  border-color: #405BA5 !important;
}

.bg-success
,.btn-success {
  background-color: #80CB2E !important;
  border-color: #80CB2E !important;
}

.btn-warning
,.bg-warning {
  background-color: #f0ba07 !important;
  border-color: #f0ba07 !important;
}